
<div class="container">
    <div class="col-md-4">

        <% count=0 %><%# Dynamically generating numbers for listings -%>
        <% @events.each do |item| %>
        
            <% if item.key?('event')  %>
                <div class="media event">
                  <a class="pull-left" href="#">
                    <img class="media-object img-thmb" src="<%= item['event']['logo']%>" alt=""/>
                  </a>
                  <ul><%= count+=1 %></ul> <%# Dynamically generating numbers for listings -%>
                  <div class="media-body">
                    <h5 class="media-heading title"><%= item['event']['title'] %></h5>
                    <%= item['event']['start_date'] %> <br/>
                    <span class="lat hidden"><%= item['event']['venue']['latitude'] %></span>
                    <span class="lng hidden"><%= item['event']['venue']['longitude'] %></span>
                    <%= link_to 'more info', item['event']['url'] %> <br/>
                  </div>

                </div>
            <% end %>
        <% end %>

      <pre><%= @events[5]['event']['venue']['latitude'] %></pre>
    </div>
    <div class="col-md-8">
      <div id="map-canvas"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        //Get lag/lng of first entry
        var firstLat = Number($('div.event span.lat').first().html());
        var firstLng = Number($('div.event span.lng').first().html());

        var myLatlng = new google.maps.LatLng(firstLat, firstLng);

        var mapOptions = {
            center: { lat: firstLat, lng: firstLng},
            zoom: 15 <%# increased default zoom level -%>
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

        // var marker = new google.maps.Marker({   //commented this out as it appears to be a test
        //     position: myLatlng,
        //     map: map,
        //     title: 'Hello World!'
        // });
        
        
        var count = 0; <%# generate numbers for markers -%>
        var icon1 = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='; <%#building icon-%>
        var icon2 = '|FF0000|000000'; <%#building icon-%>

        $('div.event').each(function() {
            console.log(this);
            
            count += 1; <%# increment for markers -%>
            
            var title = $(this).first().find('.title').html();
            var lat   = Number($(this).first().find('span.lat').html());
            var lng   = Number($(this).first().find('span.lng').html());
            var nextMkr = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
                map: map,
                icon: icon1+count+icon2, <%#creating unique markers dynamically -%>
                title: title
            });
            console.log("title: "+title);
        });

    });

</script>